.products {
  background-color: #E0F7FA; /* your pastel background */
  display: flex;
  padding: 20px;
  justify-content: center;
  align-items: center;
}

div ul {
  display: flex;
  gap: 20px; /* spacing between li */
  list-style: none; /* remove bullets */
  padding: 0;
  margin: 0;
}

div ul li {
  /* no need for flex here */
  color: #f1c40f; /* dark font for contrast */
  font-weight: bold;
}

/* styling of the icons */
.products img {
  width: 96px;
  height: 96px;
  border-radius: 48px;
}
li img {
  margin-left: 5px;
  margin-bottom: 5px;
}
li img, li span {
  display: flex;
  color: #f1c40f;
}

li span:hover {
  color: #f1c40f;
}

.label_macrame {
  margin-left: 7px;
}
.label_frame {
  margin-left: 18px;
}

.label_wreath {
  margin-left: 22px;
}

