<div class="products">
  <ul>
    <li routerLink="/macrame">
      <img src="macrame-icon.png" alt="macrame-icon">
      <span class="label_macrame">MACRAME</span>
    </li>  
    <li routerLink="/frames">
      <img src="frame.png" alt="">
      <span class="label_frame">RÁMIKY</span>
    </li>
    <li routerLink="/wreath">
      <img src="wreath-icon.png" alt="">
      <span class="label_wreath">VENCE</span>
    </li>
    <li routerLink="/decorations">
      <img src="Keychain.png" alt="">
      <span class="label">DEKORÁCIE</span>
    </li>
  </ul>
</div>

 


 



