<div routerLink="aboutUs" class="aboutUs">
  <p>V prípade záujmu o naše výrobky, nas kontaktuje na nižšie uvedenom telefónnom čisle.</p>
  <p>Všetký výtvory su ručne vyrábané s dôrazom na detail a situáciu pre ktorú sú určené. </p>
  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4426.008442921817!2d17.815862477656147!3d48.588580671296725!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x476b548b3ad5464f%3A0xde35c193f14cf20c!2zQnJhdGlzbGF2c2vDoSAyODU2LzEwNywgOTIxIDAxIFBpZcWhxaVhbnksIFNsb3Zha2lh!5e1!3m2!1sen!2snl!4v1764423858746!5m2!1sen!2snl" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>


</div>
