.upperMenu {
  display: flex;
  align-items: center;
  justify-content:space-between;  
  height: 60px;
  padding: 0 30px;
  color: #0A3D62;     
  margin-top: 10px;
  margin-bottom: 10px;    
}

.upperMenu ul {
  list-style: none;
  display: flex;
  gap: 35px;
  margin-right: 100px;
  padding: 0;
}

.upperMenu ul li {
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: color 0.3s ease;
  font-size : large;
}

.upperMenu ul li a {
  text-decoration: none;   /* removes underline */
  color: inherit;          /* inherits the parent color (#0A3D62) */
  transition: color 0.3s ease;
}

.upperMenu ul li a:hover {
  color: #f1c40f;          /* gold accent on hover */
}


.upperMenu ul li:hover {
  color: #f1c40f;              /*gold accent on hover */
}

.upperMenu .title:hover {
  color: #f1c40f;  
}

.title {
  font-size: 28px;
  font-weight: 600;
  font-family: "Georgia", serif; 
  letter-spacing: 1px;
  margin-left:370px ;
}

